# --- Python 與環境相關 ---
**/venv/
**/__pycache__/
**/*.py[cod]
.env

# --- ComfyUI 與模型相關 (避免上傳巨大的 LoRA) ---
**/models/
**/output/
**/*.safetensors
**/*.ckpt


# --- 系統檔案 ---
.DS_Store
**/.DS_Store
.vscode/
